[submodule "externals/lz4"]
	path = externals/lz4
	url = git@github.com:lz4/lz4.git
[submodule "externals/mbedtls"]
	path = externals/mbedtls
	url = git@github.com:Mbed-TLS/mbedtls.git
[submodule "musl"]
	path = musl
	url = git://git.musl-libc.org/musl
